.full {
    height: 100%;
    width: 100%;

    section {
        float: left;
    }

    .half-v {
        height: 100%;
        width: 50%;
    }
    
    .quarter {
        height: 50%;
        width: 50%;
    }
}
