@import '../../variables';

#technologies-container {
    height: 100%;
    width: 100%;
    background-color: $background-gray-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        margin: 0;
        padding: 60px;
        font-size: 2rem;
        color: $text-red;
        font-family: $rubik;
    }
}