<div id="cover-container">
  <header>
    <h1>Nick Flynn</h1>
    <h2>Passionate about beautiful web apps, clean code, and blueberry pop tarts</h2>
  </header>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/nickrflynn">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>