@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:300,500');


// colors
$red: #e74c3c;
$blue-dark: #2c3e50;
$blue-light: #57a5a5;
$white: #ecf0f1;
$gray-dark: #2f3f49;

// fonts
$font-display: 'Playfair Display', serif;
$font-main: 'Roboto', sans-serif;