<section class="cover">
  <header>
    <h1>Nick Flynn</h1>
    <h2>I'm really into nice web apps and blueberry pop-tarts</h2>
  </header>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/nickrflynn">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/nickrflynn">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/nick-flynn-497b0864">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
    </ul>
  </nav>
</section>

<section class="content">

</section>